name: Build and release MicroPython package
permissions:
  contents: write

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this MicroPython repo
        uses: actions/checkout@v4

      - name: Read project metadata
        id: project
        run: |
          echo "Reading project.json..."
          VERSION="$(jq -r '.version' package.json)"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Version: $VERSION"

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git python3 jq wget tar build-essential git python3-pip
      
      - name: Clone MicroPython tools
        run: |
          git clone --depth=1 https://github.com/micropython/micropython.git
          cd micropython/mpy-cross
          make -j$(nproc)
          echo "$PWD" >> $GITHUB_PATH

      - name: Clone CPython project (enigma-python) at same tag
        run: |
          VERSION=${{ steps.project.outputs.version }}
          echo "Cloning enigma-python at tag v${VERSION}"
          git clone --depth 1 --branch "v${VERSION}" https://github.com/denismaggior8/enigma-python.git enigma-src


      - name: Compile modules to .mpy
        run: |
          mkdir -p build/mpy
          for file in $(jq -r '.urls[]' package.json | grep -v "\[" | grep -v "\]" | grep -v github | sed -e 's/"//g' | sed -e 's/.mpy/.py/g' | sed -e 's/,//g'); 
          do
              echo "Compiling $file"
              micropython/mpy-cross/build/mpy-cross enigma-src/src/enigma/$file -o build/mpy/$(basename ${file%.py}.mpy)
          done
          cp build/mpy/*.mpy enigmapython/
          rm -rf micropython
          rm -rf enigma-src
          rm -rf build
      - name: Commit .mpy files
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git commit -am "Final commit for release v${{ steps.project.outputs.version }}"
          git push
      #- name: Push changes
      #  uses: ad-m/github-push-action@master
      #  with:
      #    github_token: ${{ secrets.GITHUB_TOKEN }}
      #    branch: ${{ github.ref }}
      #- name: Package release files
      #  run: |
      #    mkdir release
      #    cp -r build/mpy/* release/
      #    cp project.json release/
      #    echo "metadata(version='${{ steps.project.outputs.version }}', description='MicroPython port of Enigma machine simulator')" > release/manifest.py
      #    cd release
      #    zip -r ../micropython-enigma-python-${{ steps.project.outputs.version }}.zip .

      #- name: Create GitHub release
      #  uses: softprops/action-gh-release@v2
      #  with:
      #    name: "MicroPython Enigma Python v${{ steps.project.outputs.version }}"
      #    body: "Auto-built MicroPython package from Enigma Python v${{ steps.project.outputs.version }}"
      #    files: micropython-enigma-python-${{ steps.project.outputs.version }}.zip
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}